.cache
.cache-main
.cache-tests
.classpath
.gradle/
.history
.lib
.project
.settings/
.scala_dependencies
.worksheet
bin/
build/
dist/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
